<div class="containTodoist">
    <h2 class="gameTodo">Jeux à faire :</h2>
    <div class="listInput">
        <input type="text" placeholder="Titre" [(ngModel)]="title" />
        <input type="text" placeholder="Type" [(ngModel)]="type" />
        <input type="text" placeholder="Studio" [(ngModel)]="studio" />
        <button type="button" id="btnAdd" (click)="addGame()"><i class="far fa-plus-square"></i></button>
    </div>

    <div class="showGame">
        <div class="detailGame">
            <div class="row" *ngIf="games">
                <div class="col-lg-6 col-md-4 col-sm-4 detail" *ngFor="let game of games, let i = index">
                    <p class="info">"{{game.title}} est un jeu {{game.type}} développé par {{game.studio}}" <button type="button" id="btnDelete" (click)="deleteGame(i)"><i class="fa-solid fa-trash"></i></button></p>
                </div>
            </div>
        </div>
    </div>

    <button type="button" id="btnClear" id="btnClear" (click)="clearGame()">REPLAY</button>
</div>